/* Hoja de Estilo "estilos.css" */
body {
  background: #02010a;
  font-family: "Dancing Script",cursive;
}

  /* .desenfoque img {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  } */

/* ============== IMPLEMENTANDO (EN REVISIÓN) ============== */
  @media (max-width: 899px) {
      .contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center
      }

      .activa {
        text-decoration: none;
      }

      .bloque01 {
        flex-wrap: nowrap;
        list-style: none;
        display: inline-flex;
        margin: auto;
      }

      .contenedor01 {               /* Pertenece al Menú y Título */
        background: #5b7989;
        color: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        margin: 0.5% auto 0px auto;
      }

      .contenedor01 h1 {
        margin-left: 2%;
        text-shadow: 2px 2px #02010a;
      }

      .bloque01 a{
        color: white;
        padding: 10px;
        padding-bottom: 10px;
      }

      .bloque01 nav {
        margin: auto auto auto auto;
      }

      .contenedor02 {
        background: #82c3a6;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        padding-bottom: 3%;
      }

      .contenedor02 img {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        filter: drop-shadow(2px 2px 2px #02010a);
      }

      .contenedor03 {
        background: #d5c75f;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        padding-bottom: 3%;
      }

      .contenedor03 img {
        width: 80%;
        padding: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        filter: drop-shadow(2px 2px 2px #02010a);
      }

      .contenedor04 {
        text-align: center;
        width: 100%;
        background: #C6d5c5;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
      }

      .contenedor04 h2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: -5%;
      }

      .contenedor04 a {
        color: #000000;
      }
/* ********** CONTENEDOR DE LA PÁGINA "RETRATROS" ********** */
        .contenedor05 {
          padding-top: 0.5%;
          padding-bottom: 0.5%;
          width: 100%;
          background: #d5c75f;
          margin: 0 auto 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
        }

        .contenedor05 img {
          width: 80%;
          filter: drop-shadow(2px 2px 2px #02010a);
        }
/* ********************************************************* */

/* ********** CONTENEDOR DE LA PÁGINA "PAISAJES" ********** */
        .contenedor06 {
          padding-top: 0.5%;
          padding-bottom: 0.5%;
          width: 100%;
          background: #82c3a6;
          margin: 0 auto 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
        }

        .contenedor06 img {
          width: 80%;
          filter: drop-shadow(2px 2px 2px #02010a);
        }
/* ********************************************************* */

      .separacion {
        margin-top: 3%;
      }

      .logos {
        width: 5%;
        align-content: space-between;
      }
  }
/* =========================================== */
@media (min-width: 900px) {
  .contenedor01 {
    display: flex;
    background: #5b7989;
    width: 80%;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    margin: 0.5% auto 0px auto;
  }

  .contenedor01 h1 {
    margin-left: 2%;
    text-shadow: 2px 2px #02010a;
  }

  .bloque01 {
    margin: auto 2% auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
  }

  .bloque01 a {
    color: #ffffff;
    padding: 10px;
  }

  .activa {
    text-decoration: none;
  }

  .contenedor02 {
    display: flex;
    background: #82c3a6;
    width: 80%;
    height: 300px;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
  }

  .contenedor02 img {
    width: 80%;
    height: 80%;
    align-content: center;
    filter: drop-shadow(2px 2px 2px #02010a);
  }

  .contenedor03 {
    display: flex;
    background-color: #d5c75f;
    width: 80%;
    margin: 0 auto 0 auto;
    justify-content: space-around;
    text-align: center;
  }

  .contenedor03 img {
    margin: 2% auto auto auto;
    width: 80%;
    align-items: center;
    align-content: center;
    filter: drop-shadow(2px 2px 2px #02010a);
  }

  .contenedor03 p {
    font-weight: bold;
    text-align: center;
  }

  .contenedor04 {
    display: flex;
    margin: auto;
    width: 80%;
    background: #C6d5c5;
    color: black;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
  }

  .contenedor04 h2 {
    font-weight: bold;
    text-align: center;
  }

  .contenedor04 p {
    text-align: center;
  }

  .espacio {
    width: 25%;
  }

  .contenedor04 a {
    color: black;
    text-align: left;
  }
/* ********** CONTENEDOR DE LA PÁGINA "RETRATROS" ********** */
  .contenedor05 {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 80%;
    background: #d5c75f;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .contenedor05 img {
    width: 80%;
    filter: drop-shadow(2px 2px 2px #02010a);
  }
/* ********************************************************* */

/* ********** CONTENEDOR DE LA PÁGINA "PAISAJES" ********** */
  .contenedor06 {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 80%;
    background: #82c3a6;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .contenedor06 img {
    width: 80%;
    filter: drop-shadow(2px 2px 2px #02010a);
  }
/* ********************************************************* */

  .separacion {
    margin-top: 1%;
  }

  .logos {
    width: 5%;
    align-content: space-between;
  }

}
/* ======== CHEQUEADO Y APROBADO ========  */

/* ======== EFECTOS PARA IMÁGENES ======== */
  .desenfoque img {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .sepia {
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
  }
/* ======================================= */

/* ============= ANIMACIONES ============= */

  /* .incline img {
    transition-property: padding-left, padding-bottom;
    transition-duration: 2s, 2s;
  }

  .incline img:hover {
    padding-left: 5%;
    padding-bottom: 5%;
  } */

/* ======================================= */


/* ======== CARGA DE INICIO (EFECTO DE LOAD) ======== */
/* @-webkit-keyframes carga {
  from {
    transform: ;
  }
  to {
    height: 0;
  }
} */
/* ================================================== */
